body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-size: 15px;
    background-color: rgb(16, 16, 16);
}

p {
    line-height: 20px;
}

/*Landing Page (Model Y)*/

#navItems {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0px;
    margin: 0px;
    color: rgb(52, 52, 52);
    font-weight: bold;
}

#logo, #info, #icons {
    display: flex;
    transition: 1s;
}

li {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

#logo, #icons {
    width: 102px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 1;
}

#icons li, #logo li {
    padding-left: 5px;
    padding-right: 5px;
}

#logoSvg {
    width: 120px;
    height: 24px;
    
}

.icons {
    width: 24px;
    height: 24px;
}

.sections {
    background-size: cover;
    background-position: 0px -100px;
    height: 100vh;
    text-align: center;
}

#homeSection1 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global.png);
}

#homeSection1 h1 {
    padding-top: 75px;
}

h1 {
    padding-top: 150px;
    font-size: 40px;
    margin: 0px;
}

h2 {
    font-size: 26px;
}

.section1and2Btns {
    margin-top: 600px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

button {
    width: 264px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

#orderBtn1 {
    color: rgb(87, 87, 87);
}

#testBtn {
    color: white;
    background-color: rgb(87, 87, 87);
}

/*Section 2 (Model 3)*/

#homeSection2 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-RHD-v2.jpg);
    
}

#section2InfoLink, #section3Header p, #section5Header p{
    text-decoration: underline;
}

#section2Btns {
    margin-top: 550px;
}

#orderBtn2 {
    color: white;
    background-color: rgb(48, 48, 48);
}

#learnBtn {
    color: rgb(87, 87, 87);
    background-color: rgb(186, 186, 186);
}

#testDrivePara {
    text-decoration: underline;
    color: white;
    padding-top: 20px;
}


/*Section 3 (Model S)*/

#homeSection3 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop);
}

.learnBtn2 {
    color: white;
    background-color: rgb(48, 48, 48);
    margin-top: 525px;
}

#lefthdPara {
    padding-top: 50px;
    color: rgb(53, 53, 53);
}


/*Section 4 (Solar and Powerwall)*/

#homeSection4 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Desktop_SolarPanels.jpg);
    background-position: 0px -300px;
}

/*Section 5 (Model X)*/

#homeSection5 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop.jpg);
}

#lefthdPara2 {
    color: white;
    padding-top: 50px;
}

/*Section 6 (Experience Tesla)*/

#homeSection6 {
    position: relative;
}

video {
    position: relative;
}

#section6Content {
    position: absolute;
    width: 100%;   
    top: 0px;
}

#section6Header {
    color: white;
}

#testBtn2 {
    background-color: transparent;
    border: solid;
    border-color: white;
    color: white;
    margin-top: 525px;
}

/*Section 7 (Accessories)*/

#homeSection7 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-EMEA.jpg);
    margin-top: 100px;
}

#shopBtn {
    margin-top: 575px;
    color: rgb(110, 110, 110);
}

/*Footer*/

footer {
    height: 75px;
    background-color: black;
    
}

/*Drop-down Menu*/
  
  /* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 475px;
    left: 0px;
    top: 0px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Links inside the dropdown */
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropBtn {
    background-color: rgb(242, 242, 242);
}

.dropBtn {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.dropdownItemsCont {
    display: flex;
    opacity: 0;
    transition: 1s;
}

.dropdownItems {
    padding: 20px;
}

.dropdownItems h2 {
    margin: 0px;
}

img {
    height: 125px;
    width: 225px;   
}

.itemLinks {
    display: flex;
    justify-content: center;
}

.itemLinks p {
    padding: 10px;
    margin: 0px;
    color: gray;
    text-decoration: underline;
    font-weight: normal;
}

.dropdownLinks {
    margin-top: 30px;
    margin-left: 50px;
}

.dropdownLinks li {
    padding: 7px;
    list-style-type: none;
    text-align: left;
    margin: 0px;
}

.dropdownLine {
    width: 2px;
    background-color: rgb(231, 231, 231);
    height: 300px;
    margin-left: 70px;
    margin-top: 20px;
}

#dropdownLineEnergy {
    height: 175px;
}

.dropdownDiscoverHeaders {
    color: gray;
    font-weight: normal;
}

/*------------------------------------------- Model 3 Choose Page -------------------------------------------*/

#m3Choose {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Model-3-Choose-Standard-Desktop-RHD.png);
    transition: 0.75s;
}

#m3Choose .dropBtn {
    color: white;
    transition: 0.5s;
}

#m3Choose #logo, #m3Choose #icons {
    filter: invert(100%);
}

#m3ChooseHeaderandBtns {
    color: white;
    width: 100%;
    padding-left: 20%;
    margin-top: 150px;
    text-align: left;
}

#m3ChooseHeaderandBtns h1 {
    font-size: 55px;
    
}

#m3ChooseHeaderandBtns h2 {
    margin-top: 0px;
}

#m3ChooseHeaderandBtns button {
    margin: 7px;
    margin-left: 0px;
}

#performancePara {
    font-size: 14px;
    font-weight: bold;
    display: inline;
}

#m3ChooseBtns {
    width: 400px;
}

#m3ChooseOrderBtn {
    color: white;
    background-color: rgb(66, 94, 255);
}

#m3ChooseLearnBtn {
    color: white;
    background-color: rgb(38, 38, 38);
}

#downArrow {
    font-size: 20px;
    margin-right: 10px;
    display: inline;
}

#m3ChoosePerformanceCont {
    padding-top: 15px;
    cursor: pointer;
}

/*------------------------------------------- Model Y Page -------------------------------------------*/

/*Section 1*/

#modelYSection1 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/New-Model-Y-Main-Hero-Desktop-LHD.jpg);
    box-shadow: inset 0px -650px 300px -500px black;
}

#modelYSection1 h1 {
    padding-top: 100px;
}

#mYOrderBtn {
    background-color: rgb(66, 94, 255);
    color: white;
    width: 235px;
    margin: 10px;
}

#mYTestBtn {
    background-color: transparent;
    border: solid;
    color: white;
    width: 235px;
    margin: 10px;
}

#mYInfoCont {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 525px;
}

#mYInfoCont div {
    padding: 30px;
    padding-bottom: 0px;
    width: 100px;
}

#mYInfoCont div h2 {
    margin: 0;
}

#mYInfoCont div p {
    font-size: 14px;
}

/*Section 2*/

#modelYSection2 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Model-Y-Safety-Desktop.jpg);
    position: relative;
    box-shadow: inset 0px -650px 300px -500px black;
}

#modelYSection2 div {
    position: absolute;
    bottom: 0px;
    color: white;
    margin-left: 20%;
    width: 40%;
    text-align: left;
}

#modelYSection2 div p {
    font-size: 16px;
}

/*Section 3*/

#modelYSection3 {
    background-color: black;
    color: white;
    height: 1500px;
}

#modelYSection3 video {
    max-width: 700px;
    max-height: 350px;
    width: auto;
    height: auto;
    padding: 25px;
    border-radius: 27px;
}

.mYDivCont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 150px;
    height: 500px;
    text-align: left;
}

.mYDivCont img {
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.mYAccidentDiv {
    padding: 25px;
}

#mYunderline {
    text-decoration: underline;
}

#modelYSection3 p {
    font-size: 16px;
}

#mYInfo p {
    display: none;
    margin-top: 10px;
    font-size: 14px;
}

#mYInfo h2 {
    cursor: pointer;
    transition: 1s;
    color: rgb(85, 85, 85);
    margin: 0px;
}

#mYInfo #head1, #mYInfo #para1 {
    color: white;
    display: block;
}

#mYInfo div {
    width: 400px;
    margin-right: 100px;
    padding: 3px;
}

#mYInfoHeadings div {
    padding: 20px;
}

/*Section 4*/

#modelYSection4 {
    position: relative;
}

#modelYSection4 div {
    position: absolute;
    bottom: 0px;
    color: white;
    text-align: left;
    width: 35%;
    margin-left: 20%;
    margin-top: 200px;
}

.underline {
    text-decoration: underline;
}

/*Section 5*/

#modelYSection5 {
    background-color: white;
}

#modelYSection5 img {
    max-width: 1100px;
    max-height: 1100px;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-top: 250px;
}

#modelYSection5 button {
    width: 13px;
    height: 13px;
    border-radius: 100px;
    margin: 3px;
    cursor: pointer;
}

#mYChargingInfo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#mYChargingInfo div {
    text-align: left;
    width: 30%;
}

#mYChargeBtn1 {
    background-color: black;
}

#mYChargeBtn2, #mYChargeBtn3 {
    background-color: lightgray;
}

#mYChargePara2 {
    margin-top: 100px;
    font-size: 12px;
    text-align: center;
}

/*Section 6*/

#modelYSection6 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Model-Y-Range-Desktop-RHD.jpg);
    box-shadow: inset 0px 650px 150px -500px white;
    background-position: 0px 0px;
    height: 1200px;
}

#modelYSection6 div {
    padding-top: 150px;
    text-align: left;
    width: 35%;
    margin-left: 20%;
}

/*Section 7*/

#modelYSection7 {
    background-color: black;
    box-shadow: 0 0 100px 125px black;
    display: flex;
    justify-content: center;
}

#tripImg {
    max-width: 1200px;
    max-height: 700px;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-top: 100px;
}

#mYTrips {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

#mYTripCont {
    width: 1110px;
}

#mYTrips div {
    border-top: solid 2px rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: 0.25s;
}

#mYTrips #mYTrip1 {
    color: white;
    border-top: solid 5px white;
}



/*------------------------------------------- Cybertruck Page -------------------------------------------*/

/*Section 1*/

.ctSection1 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Cybertruck-Main-Hero-Hedgehog-Desktop.png) !important;
}

#ctHeaderandBtns {
    width: 100%;
    height: 600px;
}

#ctHeaderandBtns div {
    width: 100%;
    margin-top: 100px;
}

#ctHeaderandBtns button {
    background-color: rgb(17, 17, 17);
    color: gray;
    border-top: solid gray;
    border-radius: 0px;
    width: 200px;
    margin-top: 525px;
    height: 45px;
}

/*Section 2*/

#ctSection2 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Cybertruck-Second-Hero-Desktop.jpg);
    background-position: 0px 0px;
    height: 1250px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#ctSection2 div {
    background-color: rgba(17, 17, 17, 0.5);
    color: rgb(198, 198, 198);
    margin: 25px;
    padding: 10px;
    text-align: left;
    margin-bottom: 175px;
}

#ctSection2 div h2, #ctSection2 div h5 {
    margin: 5px;
}

#ctInfo1 {
    border-top: solid 1px white;
    border-right: solid 1px white;
}

#ctInfo2 {
    border-top: solid 1px white;
}

#ctInfo3 {
    border-top: solid 1px white;
    border-left: solid 1px white;
}

/*Section 3*/

#ctSection3 {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 150px 150px rgb(16, 16, 16);
}

#ctBuiltForCont video {
    max-width: 1300px;
    max-height: 1000px;
    width: auto;
    height: auto;
    margin-top: 100px;
}

#ctBuiltForCont {
    margin-left: 20%;
    margin-right: 20%;
}

#ctBuiltForInfo {
    background-image: radial-gradient(rgb(44, 44, 44) 1px, transparent 0);
    background-size: 20px 20px;
    display: flex;
    justify-content: center;
    color: gray;
    align-items: center;
}

#ctBuiltForInfo h3 {
    width: 200px;
    padding-top: 25px;
}

#ctBuiltForInfo h2 {
    width: 300px;
    color: rgb(197, 197, 197);
    padding-top: 25px;
}

#ctBuiltForInfo p {
    font-size: 14px;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;
}

#ctBuiltForInfo div {
    background-color: gray;
    width: 1px;
    height: 40px;
    margin-top: 25px;
}

#ctBuiltForCont button {
    margin-top: 50px;
    background-color: transparent;
    color: gray;
    width: 300px;
    border: solid 1px rgb(55, 55, 55);
    border-radius: 0px;
}

/*Section 4*/

#ctSection4 {
    height: 1200px;
}

.ctResistance {
    display: flex;
    justify-content: center;
}

.ctResistance video {
    max-width: 1300px;
    max-height: 700px;
    width: auto;
    height: auto;
    margin-top: -100px;
}

#ctResistanceCont {
    padding-top: 225px;
}

.ctResistance h2 {
    margin-top: 50px;
    margin-left: 50px;
    color: rgb(197, 197, 197);
}

.ctResistance p {
    color: gray;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 25px;
}

#ctResistanceInfo1, #ctResistanceInfo2 {
    width: 30%;
}

#ctResistanceInfo1 {
    text-align: left;
    margin-left: 50px;
    background-image: radial-gradient(rgb(44, 44, 44) 1px, transparent 0);
    background-size: 20px 20px;
    box-shadow: inset 0px -700px 300px -500px rgb(16, 16, 16);
}

#ctResistanceInfo2 {
    text-align: right;
    width: 100%;
    margin-bottom: 35px;
    
} 

#ctResistanceInfo2 h2 {
    margin-right: 50px;
}

#ctResistanceMerge {
    margin-top: -50px;
}

#ctResistanceInfo2Cont {
    width: 25%;
    height: 500px;
    background-image: radial-gradient(rgb(44, 44, 44) 1px, transparent 0);
    background-size: 20px 20px;
    display: flex;
    align-items: end;
    margin-right: 50px;
    box-shadow: inset 0px 700px 300px -500px rgb(16, 16, 16);
}

.ctResistanceVidCont {
    height: 500px;
    width: 30%;
    overflow: hidden;
}

/*Section5*/

#ctSection5 {
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
}

#ctSection5 video {
    margin-top: 250px;
}




/*------------------------------------------- Powerwall Page -------------------------------------------*/

/*Section 1*/

.pwSection1 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Powerwall-Hero-Desktop-UK.jpg) !important;
    color: white; 
    box-shadow: inset 0px 550px 300px -500px rgb(16, 16, 16);
}

#pwHeaderandBtns {
    width: 100%;
    height: 600px;
}

#pwHeaderandBtns p {
    margin-bottom: 625px;
    font-weight: bold;
}

#pwHeaderandBtns h1 {
    padding-top: 100px;
}

#getPwBtn {
    color: rgb(58, 58, 58);
    margin-right: 10px;
}

#getUpdatesBtn {
    background-color: transparent;
    color: white;
    border: solid white;
    margin-left: 10px;
}

/*Section2*/

#pwSection2 {
    box-shadow: 0 0 150px 100px black;
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/power-your-home-desktop.png);
    display: flex;
    justify-content: center;
    height: 1200px;
    background-position: 0px 0px;
}

#pwSection2 div {
    width: 35%;
    margin-top: 50px;
}

#pwSection2 p {
    font-size: 14px;
}

#pwSection2 h2 {
    margin-bottom: 25px;
}

/*Section3*/

#pwSection3 {
    background-color: black;
    box-shadow: 0 0 150px 150px black;
    display: flex;
    justify-content: center;
}

#pwSection3 video {
    width: 100%;
    height: auto;
    margin-top: -50px;
    transition: 1s;
}

#pwEnergyCont {
    height: 500px;
    margin-top: 100px;
    overflow: hidden;
    border-radius: 5px;
    transition: 1s;
}

/*Section4*/

#pwSection4 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/storms-happen-desktop);
    background-position: 0px 0px;
    height: 1200px;
    color: white;
    display: flex;
    align-items: end;
}

#pwSection4 div {
    margin-left: 20%;
    margin-bottom: 100px;
    width: 40%;
    text-align: left;
}

/*Section4*/

#pwSection5 {
    background-color: black;
    color: white;
}


/*------------------------------------------- Powerwall Page -------------------------------------------*/

/*Section1*/

#mpSection1 video {
    z-index: -2;
    margin-top: -75px;
}

#mpSection1 nav {
    position: absolute;
    width: 100%;
}

#mpHeader {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    z-index: -1;
}

#mpHeaderInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 400px;
}

#mpHeaderInfo div {
    margin: 35px;
}

#mpHeaderInfo button {
    background-color: transparent;
    border: solid black;
    width: 200px;
}

#mpHeaderInfo p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#mpHeaderInfo h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#mpHeaderInfoCont {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/*Section2*/

#mpSection2 {
    background-color: white;
}

#mpSection2 img {
    max-width: 700px;
    max-height: 700px;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-right: 75px;
}

/*Section3*/

#mpSection3 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Megapack_Outage_D);
    display: flex;
    justify-content: center;
}

#mpSection3 div {
    width: 35%;
}

/*Section4*/

#mpSection4 {
    background-color: white;
    height: 800px;
}

#mpInstallCont {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mpInstallCont div {
    width: 30%;
    text-align: left;
}

#mpSection4 video {
    max-width: 700px;
    max-height: 700px;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-left: 75px;
}

/*Section5*/

#mpSection5 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Megapack_FullyIntegrated_D);
}

#mpSection5 div {
    padding-top: 25px;
    margin-left: 20%;
    text-align: left;
    width: 30%;
}

/*Section6*/

#mpSection6 {
    background-color: white;
}

#mpSection6 video {
    max-width: 700px;
    max-height: 700px;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-right: 75px;
}